body {
    background: black;
}

div {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
}

.grid {
    border: solid white 1px;
    flex: 1 1 100px;
}

.row {
    display: flex;
    flex: 1 1 100px;
}